<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Edit Listing</title>
  <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
  <nav>
    <a href="/admin">Home</a> |
    <a href="/logout">Logout</a>
  </nav>

  <h1>Edit Listing</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form method="POST" action="/admin/edit-listing/<%= listing._id %>">
    <label>Title:</label><br/>
    <input type="text" name="title" value="<%= listing.title %>" required/><br/>

    <label>Description:</label><br/>
    <textarea name="description"><%= listing.description %></textarea><br/>

    <label>Location:</label><br/>
    <input type="text" name="location" value="<%= listing.location %>" /><br/>

    <label>Price:</label><br/>
    <input type="number" name="price" step="0.01" value="<%= listing.price %>" /><br/><br/>

    <button type="submit">Update</button>
  </form>
  <script>
  const toggleButton = document.getElementById('theme-toggle');
  const currentTheme = localStorage.getItem('theme');

  if (currentTheme === 'dark') {
    document.body.classList.add('dark-theme');
  }

  toggleButton.addEventListener('click', () => {
    document.body.classList.toggle('dark-theme');
    if (document.body.classList.contains('dark-theme')) {
      localStorage.setItem('theme', 'dark');
    } else {
      localStorage.removeItem('theme');
    }
  });
</script>

</body>
</html>
